body {
  background-color: darkgreen;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./P2P-homepage\ \(3\).png");
}
.img {
  opacity: 50%;
}

header {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;
}
div {
  color: white;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
nav {
  background-color: darkgreen;
  padding: 15px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #4caf50;
}

main {
  padding: 20px;
  color: white;
  text-align: center;
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.box {
  width: 300px;
  height: 200px;
  background-color: white;
  color: darkgreen;
  display: inline-block;
  text-align: center;
  line-height: 200px;
  border-radius: 20px;
  margin-right: 20px;
}

.box-info {
  display: block;
  background-color: white;
  color: darkgreen;
  position: absolute;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.box:hover {
  background-color: darkgreen;
  color: white;
}

.box:hover .more-info {
  visibility: visible;
}
.intro {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
